footer {
  background: linear-gradient(rgba(0, 0, 139, 0.9), rgba(0, 0, 255, 0.7));
  background-size: cover;
  margin-top: 50px;
  height: 250px;
  .container {
    div {
      padding-top: 50px;
      color: white;
    }
  }
}
