#coming-soon-section {
  height: 100%;
  .container {
    div {
      img {
        margin-top: 50px;
        width: 150px;
        height: 100px;
      }
      h4 {
        font-size: 25px;
        color: rgba(0, 0, 139, 0.6);
        padding: 15px 0;
      }
    }
  }
}
